In [1]:
#What is a l
#two ways to create a l
#1. using l(range())
#list(range(5))
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [18]:
#2. using square bracket
l1 = [2,3,4,5,True, "I"]
l1
#list is different from vectors as it can store data of mix type.

[2, 3, 4, 5, True, 'I']

In [22]:
#accessing individual elements of a list
l1[0]

2

In [23]:
l1[4]

True

In [24]:
y=l1[4]
y

True

In [8]:
type(y)

bool

In [25]:
l1[4] = 5

In [27]:
l1

[2, 3, 4, 5, 5, 'I']

In [ ]:
#indexation of list element start from 0 instead of 1(as we see in R)

In [11]:
#Range function
#range(start, stop, step)
range(5)#this is assuming the start=0 and stop = 5
range() is a number generator- it can used in for loops to gives number of iteration

range(0, 5)

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
#range(2,7) means the zeroth value = 2 and the last indexation is 6
#2,3,4,5,6
range(2,7)
list(range(2,7))
print(list(range(2,7,2)))
#This will give you 2 4 6
list(range(2,7,3))
#will give you 2 5
#using negative step
list(range(2,7,-1))
#This gives you an empty list
print(list(range(7,2,-2)))

[2, 4, 6]
[7, 5, 3]

In [1]:
list(range(7,2))

[]

In [2]:
list(range(7,2,-1))

[7, 6, 5, 4, 3]

In [3]:
list(range(2,7))

[2, 3, 4, 5, 6]

In [4]:
#let's make a list
y = [1,2,3,4,5,6,7]
type(y)
y

[1, 2, 3, 4, 5, 6, 7]

In [11]:
#using [] to access individual elements of a list
y[0] = 5

In [26]:
print(y)
#slicing
# using : operator 
y[2:5] #3,4,5

[5, 2, 3, 4, 5, 6, 7]

[3, 4, 5]

In [23]:
r = y[2:6:2]
r

[3, 5]

In [38]:
r = y[:]
print(r)
print(y)

[5, 2, 3, 4, 5, 6, 7]
[5, 2, 3, 4, 5, 6, 7]

In [48]:
y[:] = range(7)
y

[0, 1, 2, 3, 4, 5, 6]

In [29]:
r[2:]

[3, 4, 5, 6, 7]

In [30]:
r[:5]

[5, 2, 3, 4, 5]

In [31]:
r[2:5]

[3, 4, 5]

In [32]:
r[2:5:2]

[3, 5]

In [33]:
r[::-1]

[7, 6, 5, 4, 3, 2, 5]

In [34]:
r[2:5:-1]

[]

In [36]:
r[5:2:-1]

[6, 5, 4]

In [44]:
#create a tuple
a = (1,2,3,4)
type(a)

tuple

In [46]:
a[3] = 3
#tuple is immutable, while a list is mutable.

TypeError: 'tuple' object does not support item assignment

In [11]:
b = range(2,5,2)
b=list(b)
print(b)
import numpy
from numpy.random import randn
randn(5) 
type(randn(5))
type(b)
#convert a list into an array
b=numpy.array(b)
print(b)
type(b)
b.mean()
print(y)
y.pop()
print(y)
len(y)
import math
math.sqrt(4)

[2, 4]
[2 4]
[1, 2, 3, 4]
[1, 2, 3]

2.0

In [10]:
print(b)

[2 4]

In [24]:
my_list = list(range(21))
my_list
#let's do slicing to create a new list from the existing
my_list2 = my_list[2:11]
len(my_list2)
print(my_list2)
#let's make some changes in this list
#inorder to make changes you need to use [] again
my_list2[2] = 10
my_list2[:] = range(9) 
print(my_list2)
print(my_list)

[2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [26]:
import numpy as rb
my_array = rb.array(my_list)
my_array
#let's do slicing
my_array2 = my_array[2:11]
print(my_array2)
#let's make some changes in this array
my_array2[3] = 7
my_array2
#will that change be part of my_array
print(my_array)

#Takeaway : slicing of array doesnot create a copy, it just allows you to zoom-in.
my_array2[:] = 3
print(my_array2)
my_array

[ 2  3  4  5  6  7  8  9 10]
[ 0  1  2  3  4  7  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[3 3 3 3 3 3 3 3 3]

array([ 0,  1,  3,  3,  3,  3,  3,  3,  3,  3,  3, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [1]:
#let's practice list comprehension
#newList = [ expression(element) for element in oldList if condition ] 
# Using list comprehension to iterate through loop
List = [character for character in 'Geeks 4 Geeks!']

# Displaying list
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']

In [2]:
# Using list comprehension to iterate through loop
List = [i for i in 'Geeks 4 Geeks!']

# Displaying list
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']