Today we will learn how to work with variables.

In [1]:
#Creating an integer variable
A = 10

In [2]:
B = 5

In [4]:
#Let's do simple arithmetic using these variables
C = A + B

In [5]:
# Print C value on screen
C

15

In [6]:
#Let's do division
D = B/A
D

0.5

---

In [7]:
#There are two ways to print something on screen
#1st way: just enter the name of the variable 
C

15

In [8]:
#2nd way : using print function (proper way)
print(C)

15

In [10]:
print(D)
#important note : 0.5 is a decimal or float integer and 
#you get a float integer using two integers(A and B are integers)

0.5

In [11]:
type(D)

float

In [12]:
type(A)

int

In [13]:
type(B)

int

---

In [15]:
#Why is it better to use print() function than typing the name of the variables??

In [ ]:
#Using Print() allows you to print multiple outputs using single cell

In [16]:
print(A)
print(B)
print(C)
print(D)

10
5
15
0.5

In [ ]:
#using variables name will print only last variable name

In [17]:
A
B
C
D

0.5

In [ ]:
#This is the reason as to why print() is preferred compared to variable name.

---

In [19]:
#Let's try advanced arithmetics: square root
#But to do that - you will need to import the math module

In [23]:
import math

#math module consist of functions that allows use to carry out operation such as square root and others

In [24]:
math.sqrt(A)

3.1622776601683795

In [25]:
#A is the variable name that we created before. But if you don't have variable than just use the value as shown below
math.sqrt(100)

10.0

In [26]:
#Let's try another math function

In [27]:
round(math.sqrt(A))

3

In [28]:
#What are we doing above??
round(3.1622776601683795)

3

In [30]:
#So it is upto you to have two steps : find sqrt and then do round
math.sqrt(B)
round(math.sqrt(B))
#or 
#do it in one step
round(math.sqrt(B))

2

----

In [35]:
#let's work with strings

#create two string variables
greeting = "Hello"
name = "Bob"

In [36]:
#Let's create a message using those string variables
message = greeting + name
print(message)

HelloBob

In [37]:
#Problem : we want Hello Bob and not HelloBob (spacing problem)

In [40]:
#fix
message = greeting + " " + name
print(message)

Hello Bob

In [ ]:
# " " is an empty string with space between quotations. empty string is ""; empty string with space is " "

In [41]:
#let's create a message that has integer, float and string in it.
report = "score of"
Student = "A and B"
score1 = 50.5 
score2 = 88

In [42]:
message1 = report + " " + Student + " "+ "is" + " " + score1 + " " + "and" + " " + score2

TypeError: can only concatenate str (not "float") to str

In [44]:
message1 = report + " " + Student + " "+ "is" + " "
print(message1)

score of A and B is

In [46]:
message2 = "50.5" + " " + "and" + " " + "88"
message2

'50.5 and 88'

In [49]:
message3 = message1 + " " + message2
print(message3)

score of A and B is  50.5 and 88

#### When working with Strings
so when working with strings- don't use another other data type in concatenation. Meaning?
1. Only concatenate str with str.
    - look at the TypeError shown in In[42]

#### When working with modules
1. Import that module (**import** *name of module*) . for example. **import** *math* 
2. When using that module and the function within it. use this syntax shown below-
    - module.function_name() 
    - for instance, (math.sqrt())