___

# Working with data frames

In order to work with data frames in python we will need a specific package - `Pandas`

- Pandas is the best package when working with data frames.

## What are data-frames?
- data frames are similar to matrices, but can carrry different data types.

While a matrix can hold only one data type in it, data frames allows you to use characters type with numeric and logical vectors

- data frames contains column headers and certain list of rows - just as it is in your regular excel file

### Do you need to install pandas in Anaconda?
__No__, but you will need to import it.

```python 
import pandas as pd
```
Pandas is very similar to the way the data-frames work in R.

___

# Importing data sets into python

## Method 1 

**Specifying Full path to file**

This means you will specify the exact location of file in your computer.

In order to do that - you will need read.csv function of pandas package.

The syntax: `data-frame object_name = pd.read_csv('file path')`

The way you specify the file path on windows and mac is different. Below is the style for file path that you must use.

- Windows
```python
#For windows 
stats = pd.read_csv('C:\\Users\\rajanbawa\\Documents\\Python\\nameof_file')
```

__Note__: Use double back slashes (\\) as that would help you avoid problems with escape sequences.

- Mac
```python
#For mac
stats = pd.read_csv('/Users/rajanbawa/Documents/Python/nameof_file')
```

## Method 2

__Changing Working Directory__

step1 - `import os` This is another package
 
step2 - `print(os.getcwd())`. This will give you your current working directory (cwd). 

How this will help?
- This gives you your current file path

- if this file path is similar to where your file location is then you just need to specify the file name instead of file path.  
*This means any file in your current working directory is directly accessible to your jupyter notebook.*
```python
print(os.getcwd()) = /Users/rajanbawa/Documents/Python

#Now since cwd = file directory path, you just need to specify the file name
stats = pd.read_csv('demographic.csv')
```
> What if the file path and your cwd is different??
In that situation, change your working diretory to what your file path is. 
In order to do that, use `os.chdir('file_path')` 

For windows:-
```python
#if your file is in your Desktop directory
os.chdir('C:\\Users\\rajanbawa\\Desktop')

#once changed then,

pd.read_csv('file_name')
```

For mac-
```python
#know your current working directory
os.getcwd() = '/Users/rajanbawa/Documents/Python'

#change it to Dekstop
os.chdir('/Users/rajanbawa/Desktop')

#Check if the current working directory has changed 
os.getcwd() = '/Users/rajanbawa/Desktop' 


#importing file
pd.read_csv('file_name')
```

___

In [1]:
import pandas as pd

In [ ]:
#This lecture is more about how to import data set into our analysis

In [10]:
#Method1 - Specifying Full path to file
stats = pd.read_csv('~/Documents/Python/demographic.csv')

In [11]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

----

In [ ]:
#Method 2

In [12]:
import os

In [13]:
print(os.getcwd())

/Users/rajanbawa/Documents/Python

In [14]:
#This gives you your current file path

#if this file path is similar to where your file location is then 
#you just need to specify the file name instead of file path

In [15]:
pd.read_csv('demographic.csv')  #just file name does it as your cwd = file directory path

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [19]:
#Changing working directory

os.chdir('/Users/rajanbawa/Desktop')

os.getcwd() #this changes your cwd to Desktop

'/Users/rajanbawa/Desktop'

In [21]:
# changing cwd to Documents
os.chdir("/Users/rajanbawa/Documents/Python")

os.getcwd()

'/Users/rajanbawa/Documents/Python'