In [1]:
#The while loop that we created yesterday
counter = 0 #counting in python starts from zero.
while counter < 12:
    print(counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9
10
11

The syntax of while loop is:  
```python  
while condition:  
    executable code1  
    executable code2  
```

In [2]:
for i in range(5):
    print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

---

In [4]:
#The condition of For loop is 
# i in range(5)
#and Body of code is 
#print("Hello Python")

In [5]:
#What is range(5)??
range(5)

range(0, 5)

In [6]:
#The above result is not clear to understand. So, let's try a different approach
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
#So range(5) is a range of five values that start from 0.
range(1,8)

range(1, 8)

In [8]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [13]:
range(4,16)
list(range(4,16))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
# range(4,16) gives you start of the range= 4 and total number of values within the range = 16-4

In [ ]:
#i in range(5) is used to decide the number of iteration. 
#i in range(5) means to run the code 5 times.(0,1,2,3,4)

---

In [14]:
for i in range(5):
    print("Hello Python: ", i)
    #we are asking for loop to print the string("Hello python") and print the i

Hello Python:  0
Hello Python:  1
Hello Python:  2
Hello Python:  3
Hello Python:  4

In [15]:
for i in range(5,10):
    print("count: ", i)

count:  5
count:  6
count:  7
count:  8
count:  9

In [ ]:
# The above examples makes it clear that the code is iterating as per range() values

---

In [21]:
#Another way 
mylist = [10,100,1000]
mylist

[10, 100, 1000]

In [ ]:
#Let's use mylist to iterate

In [22]:
for j in mylist:
    print("j is equal to: ", j)

j is equal to:  10
j is equal to:  100
j is equal to:  1000

In [25]:
counter = 0
for i in range(12):
    if(counter < 12):
        print(counter)
        counter = counter + 1

0
1
2
3
4
5
6
7
8
9
10
11

In [31]:
mylist = [1,2,3,4,5,6,7,8,9,10]
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]